<div class = 'column is-half'>
    <% @posts.each do |post| %>
        <div class = 'box'>
            <div class = 'media-content'>
                <div class = 'content'> 
                    <strong><%= post.content %></strong>
                </div>
            </div>
        </div>
    <% end %>
</div>

